{% extends 'testapp/base.html' %}

{% block title %}
Thinky - Daily food for your brain
{% endblock %}

{% block maincontent %}
<div class="container-fluid">
<div class="row">
<div class="col-lg-9">
    <div class="panel-group">
        {% for board in boards %}
        <div class="panel panel-primary">
            <div class="panel-heading"><a style="color: white;"
                href="/testapp/board/?boardid={{ board.id }}">{{ board.board_name }}</a></div>
            <div class="panel-body"></div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="col-lg-3">
</div>
</div>
</div>
{% endblock %}
