{% extends 'testapp/base.html' %}

{% load timetags %}

<!-- This is within the head section. -->
{% block extra_includes %}
<script type="text/javascript" src="/static/testapp/js/threadpage.js"></script>
{% endblock %}

<!-- Context is user, is_mod, thread, comment list -->
{% block title %}
    {{thread.title}}
{% endblock %}

{% block maincontent %}
<div class="container-fluid">
    <div class="row">
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h3>{{ thread.title }}</h3>
        </div>
    </div>
    <br>
    <div class="row">
        <!-- Comment submission form. -->
        <div class="col-lg-6">
            <form action="/testapp/newcomment/?threadid={{thread.id}}"
                method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="comment-text-field">New comment</label>
                    <textarea name="commenttext" id="comment-text-field"
                        class="form-control"></textarea>
                </div>
                <button class="btn btn-info">
                    Submit
                </button>
            </form>
        </div>
    </div>

    <br><br>
    {% for comment in comments %}
        <div class="row panel panel-primary">
                <div class="panel-heading">
                </div>

                <div class="col-lg-12 panel-body">
                    <div class="container-fluid">
                        <div class="row commentrow" id="{{comment.id}}">
                            <div class="col-lg-1 text-center">
                                {{ forloop.counter|add:start }}
                                <br>
                            </div>

                            <div class="col-lg-3">
                                <a href="/testapp/profile/?pid={{ comment.posted_by.id }}">{{ comment.posted_by.username }}</a>
                                <br>
                                <div class="unixtime" value="{{ comment.post_date|getunixtime }}">
                                    {{comment.post_date}}</div>
                            </div>

                            <div class="col-lg-5" style="vertical-align: center;">
                                {{ comment.text }}
                            </div>

                            <div class="col-lg-3">
                                {% ifequal user.id comment.posted_by.id %}
                                <button class="editcomment btn btn-info">
                                    Edit
                                </button>

                                <button class="deletecomment btn btn-warning">
                                    Delete
                                </button>

                                {% else %}
                                <button class="upvotecomment btn btn-info">
                                    <span class="glyphicon glyphicon-arrow-up">
                                        {{ comment.upvotes }}
                                    </span>
                                </button>

                                <button class="downvotecomment btn btn-warning">
                                    <span class="glyphicon glyphicon-arrow-down">
                                        {{ comment.downvotes }}
                                    </span>
                                </button>

                                {% endifequal %}
                            </div>
                        </div>
                    </div>
                </div>
        </div>

        <!--<div class="col-lg-3">
        </div>

        <div class="col-lg-6">
        </div>

        <div class="col-lg-3">
        </div> -->
    {% endfor %}

    <div id="editcommenttemplate" style="display:none;">
        <textarea name="commentedit"></textarea>
        <br>
        <button class="btn btn-info">Submit</button>
    </div>
</div>
{% endblock %}
